<system.identityModel>
  <identityConfiguration>

    <audienceUris>
      <add value="urn:authorizationserver" />
    </audienceUris>

    <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
      <authority name="IdP">
        <keys>
          <add thumbprint="07C94F708E53A6B9080AA8128AA25D169BDFE99C" />
        </keys>
        <validIssuers>
          <add name="http://cloud-technologies.net" />
        </validIssuers>
      </authority>
    </issuerNameRegistry>

    <certificateValidation certificateValidationMode="None" />

    <securityTokenHandlers>
      <add type="System.IdentityModel.Tokens.JwtSecurityTokenHandler, System.IdentityModel.Tokens.Jwt" />

      <!-- machine key for session protection -->
      <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </securityTokenHandlers>
  </identityConfiguration>
</system.identityModel>